.recommendation__radio-group {
}

.recommendation__radio-item {
  display: flex;
}

.recommendation__radio-label {
  margin-top: -5px;
  margin-left: 10px;
  line-height: 37px;
}

.recommendation__radio-input {
  height: 20px;
  width: 20px;
  /* padding-left: -10px; */

}