#social header {
  margin-top: 50px;
  margin-bottom: 70px;
  padding-top: 30px;
} 

#social {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #dddfd4;
}

.content {
  height: 500px;
  width: 100%;
  margin-bottom: 10%;
}

.contacts {
  display: flex;
  justify-content: space-around;
  margin: 30px auto 30px auto;
  max-width: 80%;
}

.contact {
  display : flex;
  align-items : center;
  justify-content: center;
  height: 100px;
  width: 100px;
  border-radius: 100px;
  border-color: #424B54;
  border-style: solid;
  margin: 30px 30px 30px 30px;
}

.contact:hover {
  background-color: #424B54;
  color: #dddfd4;
}

#profile-link {
  text-decoration: none;
  font-weight: 600;
  color: #424B54;
}

h1 {
  text-align: center;
  color: #424B54;
  font-size: 30px;
  font-weight: 400;
  margin-top: 30px;
  margin-bottom: 10px;
}