.tribute-page__main {
  font-family: sans-serif;
  background-color: #e4e4e4;
  border-radius: 5px;
  margin-bottom: 30px;
}

.tribute-page__title {
  text-align: center;
}

li {
  padding-top: 10px
}

.tribute-page__header__h1 {
  padding-top: 20px;
}

.tribute-page__header__h2 {
  padding-left: 30px;
  font-size: 20px;
}

.tribute-page__image-caption {
  text-align: center;
}

.tribute-page__biography {
  width: 50%;
  margin: auto;
  text-align: left;
}

.tribute-page__image-wrapper {
  background-color: white;
  padding-bottom: 10px;
}

.tribute-page__image {
  margin: auto;
  max-width: 100%;
  display: block;
  height: auto;
}

.tribute-page__bio-list {
  /* text-align: left; */
}

.tribute-page__quote {
  max-width: 85%;
  margin: auto;
  text-align: center;
}

.tribute-page__additionals__wrapper {
  text-align: center;
  padding-bottom: 15px;
}

.tribute-page__additionals__paragraph {
  font-size: 18px;
  /* font-weight: 500; */
}