.tech-doc__content {
  margin: 10 20 20 20;
}

.tech-doc__header__h2 {
  font-weight: 400;
  margin-left: 5px;
}


/* @media (max-width: 815px) {
  .content {
    margin: 0px 20px 20px 20px;
  } */
/* } */