.tech-doc__content {
  margin: 10 20 20 20;
}

.tech-doc__content_header__h2 {
  font-weight: 400;
  margin-left: 5px;
}

.tech-doc__content_code {
  display: block;
  white-space: pre-wrap;
  margin-left: 20px;
  line-height: 25px;
}


/*ul {
  list-style: disc inside none;
}

li {
  line-height: 25px;
  font-size: 15px;
}

p {
  line-height: 25px;
  margin-left: 20px;
  font-size: 15px;
}

/* @media (max-width: 815px) {
  .content {
    margin: 0px 20px 20px 20px;
  } */
/* } */