.product-landing__container {
  width: 100%;
}

/* body {
  margin-top: 100px;
  font-family: sans-serif;
  background-color: white;
  max-width: 1800px;
  margin: auto;
} */

.product-landing__how-it-works {
  text-align: center;
}

#video {
  margin-top: 40px;
  margin-bottom: 30px;
}