.product-landing__container {
  width: 100%;
}

/* body {
  margin-top: 100px;
  font-family: sans-serif;
  background-color: white;
  max-width: 1800px;
  margin: auto;
} */



.get-started {
  margin-bottom: 50px;
}

main {
  max-width: 90%;
  margin: auto;
}

#title {
  position: relative;
  padding-top: 100px;
  text-align: center;
  font-size: 22px;
}

#form {
  text-align: center;
}

#email {
  width: 250px;
  height: 30px;
  margin: 5 5 5 5;
}

#submit {
  margin: 10 10 10 10;
  background-color: #f1c40f;
  border-radius: 2px;
  border-style: none;
  height: 30px;
  width: 150px;
  font-size: 17px;
  font-weight: 800;
}

#feature {
  margin-top: 80px;
  max-width: 80%;
  grid-template-columns: 1fr;
  margin-left: auto;
  margin-right: auto;
}

.feature {
  display: flex;
  margin-bottom: 30px;
  margin-top: 30px;
}

.icon {
  margin: 5 20 5 20;
}

.feature-header {
  font-size: 30px;
  margin: 0 15 0 15;
}

.feature-text {
  margin-top: 5px;
  margin-left: 15px;
  font-weight: 450;
}

#how-it-works {
  text-align: center;
}

#video {
  margin-top: 40px;
  margin-bottom: 30px;

}

#pricing {
  display: flex;
  margin-top: 40px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

.price-block {
  border-style: solid;
  border-width: 1px;
  border-radius: 3px;
  width: 250px;
  height: 310px;
  margin: 10 10 20 10;
}

.price-header {
  background-color: lightgray;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 45px;
  margin-bottom: 10px;
}

.price {
  font-size: 24px;
  font-weight: 600;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 5px;
}

.description {
  text-align: center;
  line-height: 30px;
}

.select-wrap {
  text-align: center;
}

.select {
  margin: 5 5 5 5;
  background-color: #f1c40f;
  text-align: center;
  border-style: none;
  border-radius: 1px;
  height: 35px;
  width: 100px;
  font-size: 18px;
}

footer {
  height: 60px;
  width: 100%;
  background-color: lightgray;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 10 0 10 0;
}

.footer-links ul {
  text-align: right;
  margin: 5 10 0 10;
}

.footer-links li {
 display: inline;
}

.footer-link {
  margin: 0 10 0 10;
  text-decoration: none;
  color: black;
}

.copyright {
  text-align: right;
  margin: 0 10 5 10;
}

@media (max-width: 600px) {
  #header {
    padding-top: 10px;
    display: grid;
    grid-template-columns: 1fr;
    height: 120px;
  }

  #header-img {
    margin-left: auto;
    margin-right: auto;
  }

  .icon {
    display: none
  }

  #nav-bar {
    margin-left: auto;
    margin-right: auto;
  }

  nav ul {
    padding: 5px 0px 5px 30px;
  }

  nav li {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  #title {
    padding-top: 150px;
  }

  #feature {
    text-align: center;

  }

  #pricing {
    display: inherit;
  }

  .price-block {
    margin-left: auto;
    margin-right: auto;
  }
}
