.product-landing__container {
  width: 100%;
}

/* body {
  margin-top: 100px;
  font-family: sans-serif;
  background-color: white;
  max-width: 1800px;
  margin: auto;
} */

.get-started {
  margin-bottom: 50px;
}

main {
  max-width: 90%;
  margin: auto;
}

#title {
  position: relative;
  padding-top: 100px;
  text-align: center;
  font-size: 22px;
}

#form {
  text-align: center;
}

#email {
  width: 250px;
  height: 30px;
  margin: 5 5 5 5;
}

#feature {
  margin-top: 80px;
  max-width: 80%;
  grid-template-columns: 1fr;
  margin-left: auto;
  margin-right: auto;
}

.feature {
  display: flex;
  margin-bottom: 30px;
  margin-top: 30px;
}

.icon {
  margin: 5 20 5 20;
}

.feature-header {
  font-size: 30px;
  margin: 0 15 0 15;
}

.feature-text {
  margin-top: 5px;
  margin-left: 15px;
  font-weight: 450;
}

#how-it-works {
  text-align: center;
}

#video {
  margin-top: 40px;
  margin-bottom: 30px;

}

/* .select {
  margin: 5 5 5 5;
  background-color: #f1c40f;
  text-align: center;
  border-style: none;
  border-radius: 1px;
  height: 35px;
  width: 100px;
  font-size: 18px;
} */

.copyright {
  text-align: right;
  margin: 0 10 5 10;
}

@media (max-width: 600px) {
  .icon {
    display: none
  }

  #title {
    padding-top: 150px;
  }

  #feature {
    text-align: center;
  }
}
