#projects {
  padding-top: 30px;
  padding-bottom: 30px;
  height: auto;
  background-color: #424B54;
  padding-top: 10px;
}

.projects__header-h1 {
  font-weight: 300;
  text-align: center;
  font-size: 30px;
  margin-bottom: 20px;
  color: white;
}

#project-tiles {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row-gap: 0px;
  grid-column-gap: 30px;
  align-items: center;
}

.left-column {
  margin-right: 60px;
  margin-left: auto;
}

.right-column {
  margin-left: 40px;
}

.project-name {
  margin-top: 0px;
  text-align: center;
  padding-top: 6px;
}

@media (max-width: 1000px) {
  #projects {
    grid-template-columns: 1fr ;
    height: 1200px;
  }

  .left-column {
    margin: 30 auto 30 auto;
  }

  .right-column {
    margin: 30 auto 30 auto;
  }
}